<body id="body-signin-up">
  <div class="container">
    <div class="row">
      <h2 class="text-center form-title">Sign up</h2>
      <div class="col-md-6 col-md-offset-3">
        
        <div class="border-form-div">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs form-style">
              <p><%= f.input :email, label: 'Ton email', required: true, autofocus: true, placeholder: 'email' %></p>
              <hr>
              <%= f.input :password, label:'Ton mot de passe', placeholder: 'Mot de passe à 6 caractères min...' %>
              <hr>
              <%= f.input :password_confirmation, label:'Ton mot de passe (oui, encore)', placeholder: 'Confirmation mot de passe', required: true %>
            </div>
            <hr>


              <%= f.button :submit, "Créer un compte", class: 'btn btn-primary round-green-btn' %>
              <%= render "devise/shared/links" %>
              <p><%= link_to "Retour à l'accueil", root_path , class:'delete round-green-btn' %></p>

          <% end %>  
        </div>

          
      </div>
    </div>  
  </div>

  
</body>
