<% if @cards %>
  <div class="visible-xs">
    <div class="navbar-mobile inline">
      <li><%= link_to cards_path ,class:'delete btn-red round-green-btn' do %><span class="fa fa-home fa-1x"></span> <% end %></li>
      <li><%= link_to new_card_path,class:'btn-orange round-green-btn' do %><span class="fa fa-plus-square fa-1x"></span> Carte <% end %></li>
      <li><%= link_to '/test_index',class:'btn-green round-green-btn' do %><span class="fa fa-graduation-cap fa-1x"></span> Tests <% end %></li>

      <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:'round-green-btn' %></li>
    </div>
        
        <div class="row">
          <% @cards.each do |card| %>
          <div class="col-xs-12">
            <div class="space-updown space-left-right panel-mobile">
              <h3><i class="fa fa-question-circle space-right-left-sm" aria-hidden="true"></i><%= card.question %></h3>
            </div> <!-- panel-mobile -->

            <div class="controls center-block">
              <div class="controls-left pull-left btn-orange-small">
                <h4><span class="fa fa-tag fa-1x space-right-left-sm"></span><%= raw card.tag_list.map { |t| t }.join (', ' ) if card.tag_list != [] %><span class="fa fa-calendar fa-1x space-right-left-sm"></span><%= card.frequence %></h4>
              </div>
              <div class="controls-right pull-right">
                <%= link_to edit_card_path(card),class:'space-right-left' do %><span class="fa fa-pencil fa-2x modify"></span> <% end %>
                <%= link_to card_path(card), method: :delete,class:'space-right-left' do %><span class="fa fa-trash-o fa-2x delete"></span> <% end %>
              </div>  
            </div> <!-- controls -->
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= will_paginate @cards , renderer: BootstrapPagination::Rails %>    
      </div>
  </div> <!-- visible xs -->
  <% end %>