
<body class="landing-page">
  <div class="container" id="landing">


        <div id="hero" class="center-block">
          <%= image_tag "brain-puzzle.jpg", size:"300x300", class:'img-circle img-responsive' %>
        </div>  


        <div id="welcome-form" class="home-white-form">
          <div class="round-green-btns text-center">
              <h4><%= link_to 'Inscription', new_user_registration_path, class:'round-green-btn signup' %></h4>
            <hr>
              <h4><%= link_to 'Connexion', new_user_session_path, class:'round-green-btn' %></h4>
              <hr>
              <p><%= link_to 'Plus de détails sur ANKI', 'https://fr.wikipedia.org/wiki/R%C3%A9p%C3%A9tition_espac%C3%A9e', :target => '_blank', class:"round-green-btn" %></p>
              <p class="round-green-btn">A propos</p>
              <% if notice || alert %>
              <p class="notice delete"><%= notice %></p>
              <p class="alert delete"><%= alert %></p>    
              <% end %>
          </div>
            
          
        </div>


      
      
  </div>


  
</body>
