<body id="body-signin-up">
  <div class="container">
    <div class="row">
      <h2 class="text-center form-title">Log in</h2>
      <div class="col-md-6 col-md-offset-3">
        
        <div class="border-form-div">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs form-style">
              <p><%= f.input :email, label: 'Ton email', required: true, autofocus: true, placeholder: 'sacripan@malotru.org' %></p>
              <hr>
              <%= f.input :password, label:'Ton mot de passe', placeholder: 'tournevice' %>
              <hr>
            </div>
            <div class="text-center">
              <span><%= f.button :submit, "Connexion", class: 'btn btn-primary round-green-btn space-updown' %></span>
              <hr class='hr-red'>
              <br>
              <p><%= render "devise/shared/links" %></p>
              <br>
              <p><%= link_to "Retour à l'accueil", root_path , class:'delete round-green-btn' %></p>
            </div>
          <% end %>  
        </div>

          
      </div>
    </div>  
  </div>

  
</body>


