<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editer cette carte</h1>
      <%= simple_form_for @card do |f| %>
        <%= f.input :question %>
        <%= f.input :answer %>
        <%= f.input :frequence, collection: ['plus', 'moyen', 'moins'], prompt: 'Choisssez une récurrence' %>
        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>    
    </div>  
  </div>
  
  
</div>
