<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Modifier la carte</h1>
      <%= render 'shared/error_messages' %>
      <%= simple_form_for @card, html: {multipart: true} do |f| %>
        <%= f.input :question %>
        <%= f.input :answer %>

        <% if @card.picture? %>
        <h3>image choisie</h3>
          <%= image_tag @card.picture.url %>
          <% else %>
          <h3>Réponse choisie</h3>
          <%= @card.answer %>
          <% end %>

        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        <%= f.label :tag, label: 'Catégorie' %>
        <!-- <p>Catégories existantes:</p> -->
        <% if @cards%>
          <span><i>Déja créées</i></span>
          <span><% @cards.tag_counts.each do |tag| %>
            <%= tag %>
          <% end %>
          </span>
        <% end %>
        
        <%= f.text_field :tag_list, class: "form-control" %>
        <%= f.input :frequence, collection: ['plus', 'moyen', 'moins'], prompt: 'Choisssez une récurrence' %>
        <%= f.button :submit, class:"btn-orange round-green-btn" %>
      <% end %>    
    <div class="text-center space-updown">
          <%= link_to cards_path,class:'btn-green round-green-btn' do %><span class="fa fa-arrow-right fa-1x"></span> Accueil <% end %>

        </div>
    </div>  
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert('Maximum file size is 2MB. Please choose a smaller file.');
    }
  });
</script>