
<div class="container" id="home-index">
<div id="title" class="text-center hidden-xs"><h1>My ANKI</h1>
  <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
</div>

<div class="panel hidden-xs" id="left-container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <ul class="list-vertical">
        <li><%= link_to new_card_path,class:'btn-orange round-green-btn' do %><span class="fa fa-plus-square fa-1x"></span> Carte <% end %></li>
        <li><%= link_to '/test_index',class:'btn-green round-green-btn' do %><span class="fa fa-graduation-cap fa-1x"></span> Tests <% end %></li>
        <li></li>

        <li><i class="fa fa-battery-full" aria-hidden="true"></i>
          <%= @cards.length %> cartes !</li>
            <div id="cat-block">
              <h4>Mes catégories</h4>
            <% if @cards %>
              <% tag_cloud @cards.tag_counts, %w[s m l] do |tag, css_class| %>
              <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i><%= link_to tag.name, tag_path(tag.name), class:'index-tag css_class all-btn cat-block' %>
              </li>
              <hr class="hr-red text-center">
              <% end %>  
            <% end %>
            </div> <!-- cat-block -->
              
      </ul>
    </div>  
  </div>
</div> <!-- id left-container -->
  
<div class="panel hidden-xs" id="right-container">
  <div class="row">
    <div class="col-xs-12">
       <!-- card-cat -->
    </div>
      <div class="col-xs-12">
        <% if @cards %>
        <div class="hidden-xs">

              <% @cards.each do |card| %>
              <div class="row question-block">
                <div class="col-sm-8 question-details">
                    <h4><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    <%= link_to card.question, card_path(card) %></h4>
                    <span class="index-tag"><%= raw card.tag_list.map { |t| t }.join (', ' )if card.tag_list != [] %></span>
                    <span class="index-tag"><%= card.frequence %></span>
                </div>
                <div class="col-sm-4 index-icons">
                  <div class="question-ctrls pull-right">
                    <%= link_to edit_card_path(card),class:'modify space-right-left-sm' do %><span class="fa fa-pencil fa-2x modify"></span><% end %>
                    <%= link_to card_path(card), method: :delete,class:'delete space-right-left-sm' do %><span class="fa fa-trash-o fa-2x delete"></span> <% end %>  
                  </div>    
                </div>
              </div>
              <hr>
            <% end %> <!-- each do card -->
      </div> <!-- hiden xs -->
        </div> <!-- col xs 12 -->
        <% end %>
    </div>
  </div> <!-- row -->
</div> <!-- panel right-cntr -->

  <div class="clear hidden-xs">
  </div>
  <%= render 'shared/phone_layout' %>

</div>
