<div class="container">
  <div class="row">
    <h1>Index de mes cartes !</h1>
    <% if @cards %>
      <% @cards.each do |card| %>
        <p>Q: <%= card.question %></p>
        <p>A: <%= card.answer %></p>
      <% end %>
    <% end %>
    
    <br>
    <p><%= @cards.length %></p>
    <%= link_to "Ajouter une carte", new_card_path, class:'btn btn-primary'%>
    <%= link_to "Faire le test",'test', class:'btn btn-success'%>
  </div>
  
</div>
