<div class="container">
  <div class="panel" id="right-container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>MES CARTES</h1>

        <div id="tag_cloud" class="col-lg-10 col-lg-offset-1">
          <%= link_to "Toutes mes cartes", cards_path, class:'btn-blue' %>
          <% tag_cloud Card.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class:'index-tag css_class' %>
          <% end %>
        </div>
        <br>
          <% if @cards %>
          <table class="table">
            <tr>
              <% @cards.each do |card| %>
              <td class=""><%= card.question %></td>
              <td class="">
                <% if card.picture? %>
                  <%= image_tag(card.picture.url, :size => "60x60") %>
                  <% else %>
                  <%= card.answer %>
                <% end %>
                </td>
              <td class=""><%= raw card.tag_list.map { |t| link_to t, tag_path(t) }.join (', ' ) if card.tag_list != [] %></td>
              <td class=""><%= card.frequence %></td>
              <td class=""><%= link_to edit_card_path(card),class:'' do %><span class="fa fa-pencil fa-1x"></span> <% end %></td>
              <td class=""><%= link_to card_path(card), method: :delete,class:'' do %><span class="fa fa-trash-o fa-1x"></span> <% end %></td>
            </tr>
            <% end %>
          </table>
          <% end %>
      </div>
    </div> <!-- row -->
  </div> <!-- panel right-cntr -->

  <div class="panel" id="left-container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-vertical">
          <li><%= link_to new_card_path,class:'btn-orange' do %><span class="fa fa-plus-square fa-1x"></span> Carte <% end %></li>
          <li><%= link_to '/test_index',class:'btn-green' do %><span class="fa fa-graduation-cap fa-1x"></span> Tests <% end %></li>
          <li><i class="fa fa-battery-full" aria-hidden="true"></i>
            <%= @cards.length %> cartes !</li>
        </ul>    
      </div>
      
    </div>
    
    
    
  </div>

  <div class="clear">
    
  </div>
  
</div>
