<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Le test de la récurrence <%=params[:filter] %></h1>
      <div id="question">

          <%= @card.question %>

      </div>
        <br>
          <label for="answer"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></label>
          <input type=radio id="answer" name="group">
          <span id="content"><%= @card.answer %></span>
          <br>
            <%= will_paginate @cards , renderer: BootstrapPagination::Rails %>    
    </div>

  </div>
  <div class="text-center">
    <%= link_to "Revenir à l'acceuil", cards_path, class:'btn btn-primary' %>
  </div>
</div>